.container {
  display: flex;
  align-items: center;
  text-align: center;
}

.title {
  margin-bottom: 1.5rem;
}

.next-button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #ff4f79;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1.5rem;
  width: auto;
  min-width: 150px;
}

.next-button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
